.item-check{
    display: grid;
    grid-template-columns: 40% 20% 1fr 5%;
    gap: 5px;
    align-items: center;

}

.item-check span{
    font-size:22px;
    text-align: left;
    margin-top: 10px;
}

.delete-btn{
    background-image: url("../../assets/delete.png");
    background-size:cover;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    border: none;
    margin-top: 10px;
}

.delete-btn:hover{
    box-shadow: 1px 1px 1px 1px gray;
}
